@model InventoryManagemenSystem_Ims.DTOs.BaseResponse<System.Collections.Generic.IList<InventoryManagemenSystem_Ims.DTOs.ReportDto>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
