@using System.Security.Claims


@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "User";
}

    <div class="pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="~/vendors/images/banner-img.png" alt="">
                </div>
                <div class="col-md-8">
                    <h4 class="font-20 weight-500 mb-10 text-capitalize">
                        Welcome back!<div class="weight-600 font-30 text-blue">@User.Identity?.Name</div>
                    </h4>
                    <p class="font-18 max-width-600">The Outstanding Innovation Begins Here...</p>
                </div>
            </div>
        </div>

        <div class="footer-wrap pd-20 mb-20 card-box">
            Inventory is Money, sitting around is another form...
        </div>
    </div>
<!-- js -->