@model InventoryManagemenSystem_Ims.DTOs.CreateAllocationResponseModel


@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Allocate Items";
}

@if (TempData["Insufficient"] != null)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@TempData["Insufficient"]</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}


<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-center">
        <div class=" card col-md-6">
            <div class="card-body ">
                <div class="bg-light">
                    <h1 class="tagcolor" style="color:mediumblue">Start Allocation</h1>
                    <hr class="tagcolor" style="color:mediumblue">

                </div>
                <form asp-action="AllocateItemsToSalesStore" enctype="multipart/form-data">
                   
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-6" style="margin-top: 20px; font-size: larger; font-weight: bold; color: darkcyan">
                            <label class="control-label">StockItems</label>
                            <select asp-for="ItemId" class="form-control" asp-items="ViewBag.Items">
                                <option value="">--Select Item--</option>
                            </select>
                        </div>
                        

                        @* <div class="form-group col-sm-6"> *@
                        @*     <label asp-for="StockItemId" class="control-label"></label> *@
                        @*     <input asp-for="StockItemId" class="form-control"/> *@
                        @*     <span asp-validation-for="StockItemId" class="text-danger"></span> *@
                        @* </div> *@
                        


                        <div class="form-group col-sm-6">
                            <label asp-for="QuantityAllocated" class="control-label"></label>
                            <input asp-for="QuantityAllocated" class="form-control"/>
                            <span asp-validation-for="QuantityAllocated" class="text-danger"></span>
                        </div>


                        <div class="col-md-6" style="margin-top: 20px; font-size: larger; font-weight: bold; color: darkcyan">
                            <label class="control-label">SalesManagers</label>
                            <select asp-for="SalesManagerId" class="form-control" asp-items="ViewBag.SalesManagers">
                                <option value="">--Select SalesManager--</option>
                            </select>
                        </div>


                        <div class="col-md-6" style="margin-top: 20px; font-size: larger; font-weight: bold; color: darkcyan">
                            <label class="control-label">StockKeepers</label>
                            <select asp-for="StockKeeperId" class="form-control" asp-items="ViewBag.StockKeepers">
                                <option value="">--Select StockKeeper--</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group ">
                        <input href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal"/>
                    </div>

                </form>


            </div>

        </div>




        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }</div>
    </div>
