@{
    ViewData["Title"] = "Home Page";
}
@* <link rel="stylesheet" type="text/css" href="~/css/MyCss.css" xmlns="http://www.w3.org/1999/html"> *@
<link rel="stylesheet" href="~/css/_MyLayout.cs">
<div class="Greeting">
    <h1 class="G-4" style="color: white">Welcome</h1>
    <div style="color: skyblue">
        <h2>
            <p><a style="color: gold">Our Company makes dreams come to life..</a>.</p>
        </h2>
        <h6><a style="color: gold"> (Simple Solutions for Complex Connections)...</a>.</h6>
    </div>
</div>

@* <div class="cnt"> *@
@*     <div class=""><center> *@
@*             <ul style="list-style: none"> *@
@*                 <li button class="btn"><a asp-controller="ShopManager" asp-action="Login"><button class="btn">Login as Admin</button></a></li> *@
@*                 <li button class="btn"><a asp-controller="ShopManager" asp-action="Register"><button class="btn">SignIn as Employee</button></a></li> *@
@*             </ul> *@
@*         </center> *@
@*     </div> *@
@* </div> *@