@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@

<div>
    <div class="wrapper">
        <div class="login-content">
            <ul style="list-style: none;">
                <li button class="btn"><a asp-controller="ShopManager" asp-action="Login"><button class="btn" >SignIn As ShopManager</button></a></li>
                @* <li button class="btn"><a asp-controller="Plumber" asp-action="Login"><button class="btn" >SignIn As Plumber</button></a></li> *@
            </ul>
        </div>
    </div>
</div>