@using System.Linq
@using InventoryManagemenSystem_Ims.Entities
@model InventoryManagemenSystem_Ims.DTOs.ReturnGoodsRequestModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Return";
}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-center">
        <div class=" card col-md-6">
            <div class="card-body ">
                <div class="bg-light">
                    <h1 class="tagcolor" style="color:mediumblue">Return</h1>
                    <p class="tagcolor" style="color:mediumblue">Return Goods.</p>
                    <hr class="tagcolor" style="color:mediumblue">

                </div>
                <form asp-action="ReturnGoods" enctype="multipart/form-data">
                        <h3 style="color: #e4220f">@TempData["data"]</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">

                        <div class="col-md-6" style="margin-top: 20px; font-size: larger; font-weight: bold; color: darkcyan">
                            <label class="control-label">Customer</label>
                            <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customers">
                                <option value="">--Select Customer--</option>
                            </select>
                        </div>
                        
                        
                        <div class="col-md-6" style="margin-top: 20px; font-size: larger; font-weight: bold; color: darkcyan">
                            <label class="control-label">Manager</label>
                            <select asp-for="SalesManagerId" class="form-control" asp-items="ViewBag.SalesManagers">
                                <option value="">--Select Manager--</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control"/>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        

                        <div class="form-group col-sm-6">
                            <label asp-for="ReturnType" class="control-label"></label>
                            <input asp-for="ReturnType" class="form-control"/>
                            <span asp-validation-for="ReturnType" class="text-danger"></span>
                        </div>


                        <div class="form-group col-sm-6">
                            <label asp-for="QuantityReturned" class="control-label"></label>
                            <input asp-for="QuantityReturned" class="form-control"/>
                            <span asp-validation-for="QuantityReturned" class="text-danger"></span>
                        </div>
                        

                    </div>

                    <div class="form-group" style="background-color: #0c0b29">
                        <input style="border-color: #6e28a7" href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal"/>
                    </div>

                </form>
            
                
            </div>

        </div>




        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }</div>
    </div>
